  <!-- Header Carousel -->
  <header id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
	  
    <div class="carousel-inner">
      <div class="item active">
	<div class="fill" style="background-image:url('{{ site.baseurl }}/images/launching-ceremony/NOV10_CEERP_Launch.jpg');"></div>
	<div class="carousel-caption">
          <div class="carousel-caption">
	    <p class="text-center">
	      HKU-CambridgeU Clean Energy and Environment Launching Ceremony
	    </p>
          </div>
	</div>
      </div>
      
      <div class="item">
        <div class="fill" style="background-image:url('{{ site.baseurl }}/images/meetings/NOV11_HKSAR.jpg');"></div>
        <div class="carousel-caption">
	  <p class="text-center">
	    Key members of HKU-CambridgeU Research Platform had an informal meeting with Mr. Kam-shing Wong on 11 Nov at the HKSAR Government Building. The meeting covered various issues related to clean energy and environment.
	  </p>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
	<span class="icon-prev"></span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
	<span class="icon-next"></span>
      </a>
  </header>
