<!DOCTYPE html>
<html lang="en">

{% include header.html %}

<body>
  {% include nav.html %}

  {% include slides.html %}
  <!-- Page Content -->
  <div class="container">

    <div class="col-md-8">

      <!-- Posts -->
      {% for post in site.posts limit:10 | sort: 'date'%}
      {% if post.showAtHome %}
      <h2>{{ post.title }}</h2>
      <p><i class="fa fa-clock-o"></i> Posted on {{ post.date | date_to_string }} </p>
      <p>{{ post.shortDescription }}</p>
      <a class="btn btn-primary" href="{{ site.baseurl}}{{ post.url }}">Read More <i class="fa fa-angle-right"></i></a>
      <hr>
      {% endif %}
      {% endfor %}

    </div>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">

      <!-- Side Widget Well -->
      <div class="well">
	<img class="img-rounded" src="{{ site.baseurl }}/images/Logo.png">
	<hr>
	<h3>About HKU-Cambridge CEERP</h3>
	<p><strong>Vision:</strong> The leading research platform in clean energy & environment (CEE) interdisciplinary study in Asia.</p>
	<p><strong>Mission:</strong> Our mission is to provide a strategic and effective platform to enable scholars and students from HKU and the University of Cambridge to collaborate in interdisciplinary research on CEE, to engage industry so research results are relevant, and to engage citizens and the government to facilitate the implementation of policies to benefit the public.</p>
        <p>One of the grand challenges of the 21st century is to overcome the problems of climate change due to greenhouse gas emissions.  HKU has taken the lead in addressing this challenge by establishing the Initiative on Clean Energy and Environment (ICEE) in 2008, and our efforts have been quite successful, resulting in major grants on Sustainable Energy (USD 6M), LED (USD 2.5M), and Smart Grid (USD 0.7M). Our interdisciplinary focus has also led to research grants on Nuclear Safety Contingency Governance in China (USD 0.4M), and Technology Empowerment via Smart Energy Management (USD 0.17M).</p>
	<p><strong>Impact:</strong> To have impact on the world, we need truly interdisciplinary efforts, so that our proposed solutions will be better understood and supported by the public and the government. We are working with  Energy@Cambridge as a strategic partner. Not only is Cambridge the major international centre in this area, but it is also strategically connected with other major research centres in Europe and North America. Therefore, we collaborate with Cambridge with the goal of establishing the leading research platform in CEE in Asia.</p>
      </div>

      <!-- Search Well -->
      <div class="well">
        <h3>Search</h3>
        <div class="input-group">
          <input type="text" class="form-control">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
          </span>
        </div>
      </div>

    </div>

    {% include copyright.html %}
     
  </div>
  <!-- /.container -->

</body>

{% include footer.html %}
<!-- Script to Activate the Carousel -->
<script>
  $('.carousel').carousel({
      interval: 10000 //changes the speed
  })
</script>

</html>
