<!DOCTYPE html>
<html lang="en">

{% include header.html %}

<body>
  {% include nav.html %}

  <!-- Page Content -->
  <div class="container">    
    <!-- Content Row -->
    <div class="row">
      <!-- Post Content Column -->
      <div class="col-md-12">
        <!-- Post Title -->
	<h1 class="page-header">{{ page.title }}</h1>
        <!-- Date/Time -->
        <p><i class="fa fa-clock-o"></i> Posted on {{ page.date | date_to_string }} </p>
	<!-- Post Content -->
	{{ content }}
        <hr>
      </div>
    </div>
    
    {% include copyright.html %}
  </div>
  <!-- /.container -->

</body>

{% include footer.html %}
</html>
  

